/* Footer Styles */
.footer {
  background: linear-gradient(135deg, #6f45e2e4, #88d3ce);
  color: #fff;
  padding: 40px 20px;
  border-radius: 20px;
  margin-top:20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color:black;
  font-size: 1rem;
}

.footer-section ul li a:hover {
  color:white;
}

.footer-section ul li a.active {
  color: #88d3ce;
}

.get-in-touch .social-icons {
  display: flex;
  gap: 30px;
  opacity: 1;
}

.get-in-touch .social-icons a {
  color: #c1c9d9;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.get-in-touch .social-icons a:hover {
  color: #fff;
}

/* Footer bottom */
.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: black;
}

.footer-bottom p {
  margin: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


#in {
  width: 250px;
}
#in1  {
  width: fit-content;
}

.social-icons {
  justify-content: center;
}


.footer-section .social-icons a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
  color: #333; /* Default color */
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-section .social-icons a:hover .social-icon {
  color: #007bff; /* Change to your preferred hover color */
  transform: scale(1.2); /* Slight zoom effect */
}

/* Styling for the subscribe section */
.subscribe-section {
  margin-top: 20px;
}

.subscribe-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.subscribe-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #0056b3;
}
