.services {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.service-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.service-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.service-button:hover {
  background-color: #45a049;
}

.service-button.active {
  background-color: #333;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20%;
}

.service-item {
  /* padding: 15px;
  margin: 10px;
  background-color: #ffffff; */
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  /* flex: 1 1 22%;
  text-align: center;
  font-size: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box; */

  flex: 1 1 auto; /* Allow items to take up available space without fixed width */
  max-width: calc(100% / 4 - 20px); /* Initially allow up to 4 items per row */
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  margin: 10px;
  background-color: #ffffff;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}
